 body{
            background-color: #1d1d1d;
            color: #ffffff;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        
        }
        header{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 50px;

        }
        .intro{
            height: auto;
            width: 280px;
            position: relative;
            float: left;
            top: 180px;
        }
        img{
            height: 200px;
            width: 200px;
            border-radius: 50%;
            position: relative;
           float: left;
            top: 100px;
            
        }
       .container{
            position: relative;
            top: 100px;
            left: 400px;
            width: 300px;
            height: auto;
            background-color: #333333;
            padding: 5px 20px 20px 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            box-shadow: 40px 30px 20px hsla(0, 19%, 22%, 0.468);
            

        }
        .container form{
            display: flex;
            flex-direction: column;
        }
      
       
           